    @keyframes swirl {
  0% {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
    opacity: 0.4;
  }
}
